.home-page {
    max-width: 100%;
    max-height: 100%;
    font-family: Arial, sans-serif;
    color: #333;
    text-align: center;
    padding: 20px;
}

.home-main {
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
    padding: 40px 20px; /* Adicionado mais padding na parte superior e inferior */
    background-color: #2a2525;
    border-radius: 8px;
}

.home-main h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem; /* Adicionado mais margem inferior */
    color: #cdc8c8;
}

.home-main p {
    font-size: 1.1rem;
    margin-bottom: 2rem; /* Adicionado mais margem inferior */
    line-height: 1.6;
}
