.home-main {
    padding: 20px;
    text-align: center;
    /* Centraliza o texto */
}

.home-main h2 {
    color: var(--text-color);
    margin-top: 0;
    font-size: 2em;
    /* Aumenta o tamanho do título */
}

.home-main p {
    color: var(--text-color);
    margin: 10px 0;
    font-size: 1.2em;
    /* Aumenta o tamanho do texto dos parágrafos */
}