.telemetry-container {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
    background-color: #3b3d3f;
    /* Cor de fundo escura */
    color: #d9e8e8;
    /* Cor do texto clara */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(237, 207, 207, 0.1);
}

.telemetry-form {
    margin-bottom: 20px;
    text-align: center;
}

.telemetry-input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: calc(100% - 85px);
    /* Ajuste conforme necessário */
    background-color: #34495e;
    /* Cor de fundo do input */
    color: #06b5e1;
    /* Cor do texto do input */
}

.telemetry-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #3498db;
    /* Cor de fundo do botão */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.telemetry-button:hover {
    background-color: #2980b9;
    /* Cor de fundo do botão ao passar o mouse */
}

.telemetry-data {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(223, 212, 212, 0.1);
}

.telemetry-data h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.telemetry-data h3 {
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.telemetry-data p {
    font-size: 16px;
    line-height: 1.5;
}