/* Estilos para o cabeçalho */
.game-header {
    background-color: var(--primary-color);
    color: var(--text-color);
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid var(--border-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.game-header h1 {
    margin: 0;
    font-size: 2.5em;
    font-weight: bold;
    color: var(--highlight-color);
}

/* Navegação */
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 15px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: var(--button-text-color);
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 8px;
    background-color: var(--button-background-color);
    transition: background-color 0.3s ease, color 0.3s ease;
    font-weight: bold;
    font-size: 1.2em;
}

nav ul li a:hover {
    background-color: var(--color1);
    color: var(--text-color);
}

/* Adicionando um estilo para o menu hambúrguer em telas pequenas (opcional) */
@media (max-width: 768px) {
    .game-header {
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul {
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul li {
        margin-bottom: 10px;
    }
}