/* Definindo variáveis de tema */
:root {
    --background-color: #121212;
    --text-color: #e0e0e0;
    --primary-color: #1e1e1e;
    --secondary-color: #2a2a2a;
    --input-background-color: #333333;
    --input-text-color: #ffffff;
    --button-background-color: #4a4a4a;
    --button-text-color: #ffffff;
    --border-color: #555555;
    --highlight-color: #AD38D9;

    /* Novas cores */
    --color1: #AD38D9;
    --color2: #D93868;
    --color3: #D938C9;
    --color4: #7938D9;
    --color5: #D94638;
    --color6: #D981D0;
}

/* Estilo global */
body {
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Headers e Footers */
header,
footer {
    background-color: var(--primary-color);
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid var(--border-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

footer {
    border-top: 1px solid var(--border-color);
}

/* Home Page */
.home-page {
    display: flex;
    flex-direction: column;
    flex: 1;
    /* Ocupa todo o espaço restante do corpo */
}

.home-main {
    flex: 1;
    padding: 20px;
    text-align: center;
    background-color: var(--secondary-color);
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    margin: 20px;
}

.home-main h2 {
    color: var(--text-color);
    margin-top: 0;
    font-size: 2em;
    /* Aumenta o tamanho do título */
}

.home-main p {
    color: var(--text-color);
    margin: 10px 0;
    font-size: 1.2em;
    /* Aumenta o tamanho do texto dos parágrafos */
}

.home-main>* {
    margin-bottom: 20px;
}

/* Outros estilos */
a {
    color: var(--highlight-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: var(--text-color);
}

/* Inputs e Botões */
input,
button {
    background-color: var(--input-background-color);
    color: var(--input-text-color);
    border: 1px solid var(--border-color);
    padding: 12px;
    margin: 8px;
    border-radius: 8px;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

button {
    background-color: var(--button-background-color);
    color: var(--button-text-color);
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background-color: var(--color1);
}

/* Cards */
.card {
    background-color: var(--secondary-color);
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.3s ease;
}

.card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

/* Estilo para o Championships Container */
.championships-container {
    padding: 20px;
    background-color: var(--secondary-color);
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.championships-container h2 {
    color: var(--text-color);
}

/* Estilo para a lista de campeonatos */
.championships-list {
    margin-top: 20px;
}

.championship-item {
    background-color: var(--primary-color);
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 15px;
    border: 1px solid var(--border-color);
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.championship-item:hover {
    background-color: var(--color2);
    border-color: var(--color2);
}

.championship-item h1 {
    margin-top: 0;
    color: var(--text-color);
}

.championship-item p {
    margin: 5px 0;
    color: var(--text-color);
}

/* Estilo para o botão de toggle */
.toggle-button {
    background-color: var(--button-background-color);
    color: var(--button-text-color);
    border: none;
    padding: 12px;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

.toggle-button:hover {
    background-color: var(--color3);
}

/* Estilo para os dados do caminhão e do reboque */
.job-data,
.truck-data,
.trailer-data {
    background-color: var(--secondary-color);
    padding: 12px;
    border-radius: 8px;
    border: 1px solid var(--border-color);
    margin-top: 10px;
}

/* Estilo para mensagens de carregamento e erro */
.loading,
.error {
    color: var(--text-color);
}

.error {
    color: #D93868;
}